#container {
    display: grid;
    aspect-ratio: 1;
    z-index: 1;
    position: absolute;
    float: left;
    min-height: 0;
    height: 420px;
    width: 420px;
    user-select: none;
    border: 1px solid black;
}

.grid-item {
    color: grey;
    aspect-ratio: 1;
    width: 1fr;
    height: 1fr;
}

#scratch-card {
    height: 420px;
    width: 420px;
    background-color: blue;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
}

.center {
    height: calc(100% - 53.2px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
